@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../images/todo-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 100vh;
    /* padding-top: 5.49rem;
    padding-left: 25vw; */
}
aside {
    width: 20vw;
    position: fixed;
    top: 7.35rem;
    right: 1rem;
    left: 2.5rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 4px;
    overflow: hidden;
  }
  
  #content-container {
    position: fixed;
    top: 7.35rem;
    left: 25vw;
    right: 2rem;
    height: 79.6vh;
  }
footer {
    position: absolute;
    bottom: 0;
    left: .5rem;
    right: .5rem;
    z-index: 100;
}
header {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    left: 1.5rem;
}
#profile {
    position: absolute;
    right: 0;
}
#profile-picture {
    width: 45px;
}
