@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../images/todo-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 100vh;
}
header{
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    left: 1rem;
}
